{% extends "list_base.html" %}

{% block card_title %}Interaction Devices{% endblock card_title %}
{% block card_description %}Manage Device Technologies{% endblock card_description%}

{% block table_head %}
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Manage</th>
    </tr>
{% endblock table_head %}
{% block table_body %}
    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.description }}</td>
            <td>
                <div class="dropdown">
                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                        Opciones
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'interaction_device:detail_tech' object.id %}">View</a></li>
                        <li><a href="{% url 'interaction_device:update_tech' object.id %}">Update</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}

{% block new_url %} {% url 'interaction_device:new_tech' %} {% endblock new_url %}
{% block new_object_name %}Device Technology{% endblock new_object_name %}