{% extends "detail_base.html" %}
{% load staticfiles %}

{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_devicetechnology.html" %}{% endblock pre-breadcrumbs %}

{% block card_description %}Device Technology Details{% endblock %}

{% block card_content %}
<p>
    Name:
    <span class="text-muted"> {{ object.name }}</span>
</p>
<p>
    Description:
    <span class="text-muted"> {{ object.description }}</span>
</p>
{% endblock %}

{% block update_url %} {% url 'interaction_device:update_tech' object.id %} {% endblock %}
{% block list_url %} {% url 'interaction_device:list_tech' %} {% endblock %}