{% extends "detail_base.html" %}
{% load staticfiles %}

{% block card_description %}Interaction Device Details{% endblock %}

{% block card_content %}
<p>
    Name:
    <span class="text-muted"> {{ object.name }}</span>
</p>
<p>
    Description:
    <span class="text-muted"> {{ object.description }}</span>
</p>
<p>
    Device Technology:
    <span class="text-muted"> {{ object.device_technology.name}}</span>
</p>
<p>
    Type:
    <span class="text-muted"> {{ object.get_type_display}}</span>
</p>
{% endblock %}

{% block update_url %} {% url 'interaction_device:update' object.id %} {% endblock %}
{% block list_url %} {% url 'interaction_device:list' %} {% endblock %}