{% extends "base.html" %}
{% load staticfiles %}

{% block page-title %}Interaction Device Details{% endblock %}
{% block page-description %}Interaction Device{% endblock %}

{% block content %}
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">{{ interactiondevice.name }}</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            <p>
                Descripción:
                <span class="text-muted"> {{ interactiondevice.description }}</span>
            </p>
            <p>
                Device Technology:
                <span class="text-muted"> {{ interactiondevice.device_technology.name}}</span>
            </p>
            <p>
                Type:
                <span class="text-muted"> {{ interactiondevice.get_type_display}}</span>
            </p>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <a href="{% url "interaction_device:update" interactiondevice.id %}" class="btn btn-info">Update</a>
            <a href="{% url "interaction_device:list" %}" class="btn btn-primary pull-right">List</a>
        </div>
    </div>
{% endblock %}