.default-dark {
    background-color: #263238;
}

.primary-dark {
    background-color: #4a148c;
}

.info-dark {
    background-color: #006064;
}

.success-dark {
    background-color: #1B5E20
}

.warning-dark {
    background-color: #E65100 ;
}
.danger-dark {
    background-color: #B71C1C;
}