{% extends "form_base.html" %}

{% block current_breadcrumb_label %}
    {% if object %}
        Continue
    {% else %}
        New
    {% endif %}
{% endblock current_breadcrumb_label %}
{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_questionnaire.html" %}{% endblock pre-breadcrumbs %}

{% block card_color %}box-solid{% endblock %}

{% block card_title %}
    {% if not object or object.status == 'init' %} 1. Questionnaire Design I
    {% elif object.status == 'in_design' %} 2. Questionnaire Design II
    {% elif object.status == 'in_pre_test' %} 3. Questionnaire Pre-Testing
    {% endif %}
{% endblock %}

{% block before_card_header %}
  <div class="progress progress-xxs">
      {% if not object or object.status == 'init' %}<div class="progress-bar progress-bar-green" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
      {% elif object.status == 'in_design' %}<div class="progress-bar progress-bar-aqua" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
      {% elif object.status == 'in_pre_test' %}<div class="progress-bar progress-bar-yellow" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      {% elif object.status == 'finished' %}<div class="progress-bar progress-bar-blue" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      {% endif %}
  </div>
{% endblock %}


{% block card_description %}
    {% if not object or object.status == 'init' %}
        This step involves:
        <ol>
            <li>Defining the evaluation objective of your questionnaire <a href="#" data-toggle="tooltip" title="It involves exploratory research. This includes consulting experts, collecting data from people directly related to the problem itself"><i class="fa fa-info-circle"></i></a></li>
            <li>Giving a name to your questionnaire <a href="#" data-toggle="tooltip" title="Chose a title that informs respondents about evaluation goal"><i class="fa fa-info-circle"></i></a></li>
            <li>Selecting aspects to be evaluated by your questionnaire <a href="#" data-toggle="tooltip" title="Define which PX aspects should be studied in order to achieve evaluation objective; e.g., motivation, effectiveness, ease of use, attractiveness"><i class="fa fa-info-circle"></i></a></li>
            <li>Defining your target respondents <a href="#" data-toggle="tooltip" title="Decide which is the appropriate population to be asked. Identify characteristics of the target respondents that should be considered along the design process, e.g., age, education level, familiarity with tests and questionnaires, cultural bias or language barrier"><i class="fa fa-info-circle"></i></a></li>
        </ol>
    {% elif object.status == 'in_design' %}
        To build your questionnaire, you should:
        <ol>
            <li>Generate questions <a href="#" data-toggle="tooltip" title="Generate as many questions as possible for each aspect to be evaluated. At this stage, details such as wording is not important. The generated questions have to meet evaluation goal, so that they can be employed to study aspects selected previously"></i></a></li>
            <li>Filter questions <a href="#" data-toggle="tooltip" title="Include questions that can be used to achieve evaluation goal, i.e., to evaluate each selected evaluation aspect"></i></a></li>
            <li>Develop question wording and format <a href="#" data-toggle="tooltip" title="Produce questions that can be understood by respondents; collect complete, unbiased and accurate answers and are easy to administer for interviewers"></i></a></li>
            <li>Decide questions order <a href="#" data-toggle="tooltip" title="Order questions logically to promote understating and motivation"></i></a></li>
            <li>Decide questionnaire presentation and layout <a href="#" data-toggle="tooltip" title="Questionnaires has to look professional since presentation has a significant effect on the quality and quantity of data obtained"></i></a></li>
            <li>Identify additional needed documents <a href="#" data-toggle="tooltip" title="Iinclude accompanying documents for clarity and/or motivation purposes. Additional documents include: a cover letter, accompanying guides for respondents or interviewer or an appreciation letter."></i></a></li>
        </ol>
    {% elif object.status == 'in_pre_test' %}
        Pre-testing or piloting process allows you to know whether a questionnaire would achieve desired results:
        <ol>
            <li>Plan pre-testing <a href="#" data-toggle="tooltip" title="Plan well in advance to collect quality data"></i></a></li>
            <li>Perform pre-testing <a href="#" data-toggle="tooltip" title="During pre-testing you should observe, record and/or and take notes on important issues such as misunderstood, surprising or confusing questions, time required by respondents to complete questionnaire and respondents' reactions"></i></a></li>
            <li>Enter, check and clean data <a href="#" data-toggle="tooltip" title="Agree and understand on the tools to be used for this step such as SPSS, Excel or own tools"></i></a></li>
            <li>Analyse data <a href="#" data-toggle="tooltip" title="Select an analysis method based on collected data"></i></a></li>
            <li>Report results <a href="#" data-toggle="tooltip" title="Filter relevant data to be reported and decide how the information will be presented"></i></a></li>
        </ol>
    {% endif %}
{% endblock %}

{% block card_footer_buttons %}
{% if  object.status == 'in_pre_test' %}
<input type="submit" name="save" value="Finish" class="btn btn-success"/>
{% else %}
<input type="submit" name="save_continue" value="Save and Continue" class="btn btn-success"/>
<input type="submit" name="save" value="Save and Close" class="btn btn-info"/>
{% endif %}
{% endblock %}

