{% extends "form_base.html" %}

{% block current_breadcrumb_label %}Refine{% endblock current_breadcrumb_label %}
{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_questionnaire.html" %}{% endblock pre-breadcrumbs %}

{% block card_description %}Current step: <span class="label
                    {% if object.status == 'init' %} label-success
                    {% elif object.status == 'in_design' %} label-info
                    {% elif object.status == 'in_pre_test' %} label-warning
                    {% elif object.status == 'finished' %} bg-maroon
                    {% endif %}">{{ object.get_status_display }}</span>{% endblock card_description %}
