{% extends "list_base.html" %}

{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_constraintcategory.html" %}{% endblock pre-breadcrumbs %}

{% block card_title %}Rehabilitation Exergame Constraint Category{% endblock card_title %}
{% block card_description %}Manage rehabilitation exergame constraint categories{% endblock card_description%}

{% block table_head %}
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Manage</th>
    </tr>
{% endblock table_head %}
{% block table_body %}
    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td>
                <div class="dropdown">
                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                        Options
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'rehab_exergames:detail_constraint_cat' object.id %}"><i class="fa fa-eye"></i>View</a></li>
                        <li><a href="{% url 'rehab_exergames:update_constraint_cat' object.id %}"><i class="fa fa-edit"></i>Update</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}

{% block new_url %} {% url 'rehab_exergames:new_constraint_cat' %} {% endblock new_url %}
{% block new_object_name %}Constraint Category{% endblock new_object_name %}