{% extends "detail_base.html" %}
{% load staticfiles %}

{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_constraintcategory.html" %}{% endblock pre-breadcrumbs %}

{% block card_description %}Rehabilitation Exergame Constraints Categories Details{% endblock %}

{% block card_content %}
<dl>
    <dt>Name</dt>
    <dd>{{ object.name }}</dd>

    <dt>Description</dt>
    <dd>
        {% if object.description %}
            {{ object.description }}
        {% else %}
            <span class="text-muted">None</span>
        {% endif %}
    </dd>
</dl>
{% endblock %}

{% block previous_footer_buttons %}
<a class="btn btn-primary" href="{% url 'rehab_exergames:list_constraint_by_cat' object.id %}">List associated constraints</a>
{% endblock %}
{% block update_url %} {% url 'rehab_exergames:update_constraint_cat' object.id %} {% endblock %}
{% block list_url %} {% url 'rehab_exergames:list_constraint_cat' %} {% endblock %}
