{% extends "card_base_no_footer.html" %}

{% block current_breadcrumb_label %}List{% endblock current_breadcrumb_label %}
{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_constraint.html" %}{% endblock pre-breadcrumbs %}

{% block card_color %}box-info{% endblock %}
{% block card_title %}Rehabilitation Exergames Constraints{% endblock card_title %}

{% block card_content %}
{% for object in object_list %}
<strong>{{ object.id }}. {{ object.name }}</strong>

<p class="text-muted">
    {{ object.description }}
    <a class="btn btn-info btn-sm pull-right" href="{% url 'rehab_exergames:list_constraint_by_cat' object.id %}">
        <i class="fa fa fa-table"></i> List Constraints
    </a>
</p>
<hr>
{% empty %}
There are no constraints
{% endfor %}

{% endblock %}
