{% extends "detail_base.html" %}
{% load staticfiles %}

{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_constraintcategory.html" %}{% endblock pre-breadcrumbs %}

{% block card_description %}Rehabilitation Exergame Constraints Categories Details{% endblock %}

{% block card_content %}
<p>
    Name:
    <span class="text-muted"> {{ object.name }}</span>
</p>
<p>
    Description:
    <span class="text-muted"> {{ object.description }}</span>
</p>
{% endblock %}

{% block update_url %} {% url 'rehab_exergames:update_constraint_cat' object.id %} {% endblock %}
{% block list_url %} {% url 'rehab_exergames:list_constraint_cat' %} {% endblock %}