{% extends "list_base.html" %}

{% block card_title %}Rehabilitation Exergame Constraint{% endblock card_title %}
{% block card_description %}Select a constraint category{% endblock card_description%}

{% block table_head %}
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Constraints</th>
    </tr>
{% endblock table_head %}
{% block table_body %}
    {% for object in object_list %}
        <tr>
            <td>{{ object.name }}</td>
            <td>{{ object.description }}</td>
            <td>
                <a class="btn btn-primary" href="{% url 'rehab_exergames:list_constraint_by_cat' object.id %}">List Constraints</a>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}

{% block new_url %} {% url 'rehab_exergames:new_constraint' %} {% endblock new_url %}
{% block new_object_name %}Constraint{% endblock new_object_name %}