{% extends "list_base.html" %}

{% block card_title %}Rehabilitation Exergames{% endblock card_title %}
{% block card_description %}Manage Rehabilitation Exergames{% endblock card_description%}

{% block table_head %}
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Manage</th>
    </tr>
{% endblock table_head %}
{% block table_body %}
    {% for object in object_list %}
        <tr>
            <td>{{ object.id }}</td>
            <td>{{ object.name }}</td>
            <td>{{ object.description }}</td>
            <td>
                <div class="dropdown">
                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                        Options
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'rehab_exergames:detail' object.id %}">View</a></li>
                        <li><a href="{% url 'rehab_exergames:update' object.id %}">Update</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
{% endblock table_body %}

{% block new_url %} {% url 'rehab_exergames:new' %} {% endblock new_url %}
{% block new_object_name %}Rehabilitation Exergame{% endblock new_object_name %}