{% extends "detail_base.html" %}
{% load staticfiles %}

{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_pathology.html" %}{% endblock pre-breadcrumbs %}

{% block card_description %}Pathology Details{% endblock %}

{% block card_content %}
<dl>
    <dt>Name</dt>
    <dd>{{ object.name }}</dd>

    <dt>Code</dt>
    <dd>{{ object.code }}</dd>
</dl>
{% endblock %}

{% block update_url %} {% url 'pathologies:update' object.id %} {% endblock %}
{% block list_url %} {% url 'pathologies:list' %} {% endblock %}