{% extends "detail_base.html" %}
{% load staticfiles %}

{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_resources.html" %}{% endblock pre-breadcrumbs %}

{% block card_description %}Resource Details{% endblock %}

{% block card_content %}
<dl>
    <dt>Name</dt>
    <dd>{{ object.name }}</dd>

    <dt>Description</dt>
    <dd>
        {% if object.description %}
            {{ object.description }}
        {% else %}
            <span class="text-muted">None</span>
        {% endif %}
    </dd>

    <dt>Url</dt>
    <dd>
         <ul class="nav nav-pills nav-stacked">
            {% if object.url %}
            <li><a target="_blank" href="{{ object.url }}"> {{ object.url }}<span class="pull-right text-blue"><i class="fa fa-external-link"></i></span></a></li>
            {% else %}
            <span class="text-muted">None</span>
            {% endif %}
        </ul>
    </dd>

    <dt>File</dt>
    <dd>
         <ul class="nav nav-pills nav-stacked">
            {% if object.file %}
            <li><a target="_blank" href="{{ object.file.url }}"> {{ object.file.name }}<span class="pull-right text-blue"><i class="fa fa-external-link"></i></span></a></li>
            {% else %}
            <span class="text-muted">None</span>
            {% endif %}
        </ul>
    </dd>
</dl>
{% endblock %}

{% block update_url %} {% url 'resources:update' object.id %} {% endblock %}
{% block list_url %} {% url 'resources:list' %} {% endblock %}