{% extends "card_base.html" %}
{% load staticfiles %}

{% block current_breadcrumb_label %}View{% endblock current_breadcrumb_label %}

{% block card_title %}{{ object.id }}. {{object}}{% endblock %}

{% block card_color %}box-info{% endblock %}

{% block card_footer %}
{% block previous_footer_buttons %}{% endblock %}
<a href="{% block update_url %}{% endblock %}" class="btn btn-primary">{% block update_label %}Update{% endblock %}</a>
<a href="{% block list_url %}{% endblock %}" class="btn btn-info">{% block list_label %}List{% endblock %}</a>
{% block additional_footer_buttons %}{% endblock %}
{% endblock %}