{% extends "card_base.html" %}
{% load bootstrap3 %}

{% block current_breadcrumb_label %}
    {% if object %}
        Update
    {% else %}
        New
    {% endif %}
{% endblock current_breadcrumb_label %}

{% block card_color %}{% if object %}box-warning{% else %}box-success{% endif %}{% endblock %}

{% block card_title %}
    {% if object %}
        {{ object.id }}. {{ object }}
    {% else %}
        New {% block card_title_suffix %}{% endblock %}
    {% endif %}
{% endblock %}

{% block card_content %}
<form method="post" enctype="multipart/form-data">
    {% block card_form %}
        {% csrf_token %}
        {% bootstrap_form form %}
    {% endblock card_form %}
{% endblock card_content %}
{% block card_footer %}
    {% block card_footer_buttons %}
        <input type="submit" value="Save" class="btn btn-success"/>
    {% endblock card_footer_buttons %}
</form>
{% endblock card_footer %}