{% load staticfiles %}
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li>
        <a href="{% url 'dashboard:dashboard' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-gamepad"></i><span>Rehab. Exergames</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'rehab_exergames:new' %}">New Rehabilitation Exergame</a></li>
            <li><a href="{% url 'rehab_exergames:list' %}">List Rehabilitation Exergames</a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-tasks"></i><span>Rehabilitation Tasks</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'rehab_exergames:new_task' %}">New Rehabilitation Task</a></li>
                    <li><a href="{% url 'rehab_exergames:list_task' %}">List Rehabilitation Tasks</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-warning"></i><span>Rehabilitation Constraints</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'rehab_exergames:new_constraint' %}">New Constraint</a></li>
                    <li><a href="{% url 'rehab_exergames:list_constraint' %}">List Constraints</a></li>
                    <li><a href="{% url 'rehab_exergames:new_constraint_cat' %}">New Constraint Category</a></li>
                    <li><a href="{% url 'rehab_exergames:list_constraint_cat' %}">List Constraint Categories</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-tv"></i><span>Interaction Devices</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'interaction_device:new' %}">New Interaction Device</a></li>
            <li><a href="{% url 'interaction_device:list' %}">List Interaction Devices</a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-gear"></i><span>Device Technologies</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'interaction_device:new_tech' %}">New Device Technology</a></li>
            <li><a href="{% url 'interaction_device:list_tech' %}">List Device Technologies</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"  >
            <i class="fa fa-child"></i><span>Movements</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'movements:new' %}">New Movement</a></li>
            <li><a href="{% url 'movements:list' %}">List Movements</a></li>
            <li class="divider"></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-sliders"></i><span>Configuration Parameters</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'movements:new_config_par' %}">New Configuration Parameter</a></li>
            <li><a href="{% url 'movements:list_config_par' %}">List Configuration Parameters</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"  >
            <i class="fa fa-heart"></i><span>Pathology</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'movements:new' %}">New Pathology</a></li>
            <li><a href="{% url 'movements:list' %}">List Pathologies</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"  >
            <i class="fa fa-book"></i><span>Resources</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'resources:new' %}">New Resource</a></li>
            <li><a href="{% url 'resources:list' %}">List Resources</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#"  >
            <i class="fa fa-check-square-o"></i><span>PX Evaluation</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{% url 'px_evaluation:new' %}">New Evaluation</a></li>
            <li><a href="{% url 'px_evaluation:list' %}">List Evaluations</a></li>
            <li class="treeview">
                <a href="#"><i class="fa fa-list"></i><span>Evaluation Aspects</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'px_evaluation:new_aspects' %}">New Aspect</a></li>
                    <li><a href="{% url 'px_evaluation:list_aspects' %}">List Aspects</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-ellipsis-h"></i><span>Evaluation Methods</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'px_evaluation:new_methods' %}">New Method</a></li>
                    <li><a href="{% url 'px_evaluation:list_methods' %}">List Methods</a></li>
                    <li><a href="{% url 'px_evaluation:new_method_types' %}">New Method Type</a></li>
                    <li><a href="{% url 'px_evaluation:list_method_types' %}">List Method Types</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#"><i class="fa fa-wrench"></i><span>Evaluation Instruments</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{% url 'px_evaluation:new_instruments' %}">New Instrument</a></li>
                    <li><a href="{% url 'px_evaluation:list_instruments' %}">List Instruments</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
<div class="sidebar-background" style="background-image: url({% static 'material-dashboard-1.2.0/assets/img/sidebar-1.jpg' %}) "></div>