{% extends "detail_base.html" %}
{% load staticfiles %}

{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_configurationparameter.html" %}{% endblock pre-breadcrumbs %}

{% block card_description %}Movement Configuration Parameter Details{% endblock %}

{% block card_content %}
<dl>
    <dt>Name</dt>
    <dd>{{ object.name }}</dd>

    <dt>Description</dt>
    <dd>
        {% if object.description %}
            {{ object.description }}
        {% else %}
            <span class="text-muted">None</span>
        {% endif %}
    </dd>
</dl>
{% endblock %}

{% block update_url %} {% url 'movements:update_config_par' object.id %} {% endblock %}
{% block list_url %} {% url 'movements:list_config_par' %} {% endblock %}