{% extends "detail_base.html" %}
{% load staticfiles %}

{% block pre-breadcrumbs %}{% include "./pre_breadcrumbs_movement.html" %}{% endblock pre-breadcrumbs %}

{% block card_description %}Movement Details{% endblock %}

{% block card_content %}
<dl>
    <dt>Name</dt>
    <dd>{{ object.name }}</dd>

    <dt>Description</dt>
    <dd>
        {% if object.description %}
            {{ object.description }}
        {% else %}
            <span class="text-muted">None</span>
        {% endif %}
    </dd>

    <dt>Configuration Parameters</dt>
    <dd>
        <ul class="nav nav-pills nav-stacked">
            {% for config_par in object.configuration_parameters.all %}
            <li><a href="{% url 'movements:detail_config_par' config_par.id %}">{{ config_par }}<span class="pull-right text-blue"><i class="fa fa-eye"></i></span></a></li>
            {% empty %}
            <span class="text-muted">No associated configuration parameters</span>
            {% endfor %}
        </ul>
    </dd>
</dl>
{% endblock %}

{% block update_url %} {% url 'movements:update' object.id %} {% endblock %}
{% block list_url %} {% url 'movements:list' %} {% endblock %}